body {
  width: 100vw;
  padding: 0;
  margin: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6, body p,
body ul, body li, body a, body div, body section, body img {
  margin: 0;
  padding: 0;
}

body h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
}

body h2, body h3, body h4, body h5, body h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2.2rem;
}

body p, body span, body a {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
}

@media (max-width: 480px) {
  .header {
    width: 100vw;
    height: 85vh;
    background: url("../img/dbfa24d7-2e60-498c-03ce-2ae7b3d1c988.jpg") top left no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .header-overlay {
    width: 85vw;
    background-color: #292933;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-overlay .header-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 4rem;
  }
  .header .header-overlay .header-text-container img {
    width: 5.5rem;
  }
  .header .header-overlay .header-text-container h1 {
    color: #FFFFFF;
    margin: 0.5rem 0;
  }
  .header .header-overlay .header-text-container p {
    color: #6B6A78;
    line-height: 1.8rem;
    text-align: end;
    margin: 0.4rem 0 0 8rem;
  }
  .main {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .hero-container {
    width: 100vw;
    padding-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .hero-container .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 5rem 1rem;
    width: 75vw;
  }
  .main .hero-container .hero-text h2 {
    text-align: left;
    margin-bottom: 1.2rem;
  }
  .main .hero-container .hero-text p {
    font-family: "Raleway", sans-serif;
    text-align: left;
    line-height: 1.6rem;
    margin-right: 2rem;
  }
  .main .hero-container .hero-img-container {
    width: 75vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
    border-top: 2.5rem solid #292933;
    border-bottom: 2.5rem solid #292933;
    overflow: hidden;
  }
  .main .hero-container .hero-img-container img {
    width: 100%;
    margin: 2rem;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .main .project-container {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #6B6A78;
  }
  .main .project-container .project-title {
    width: 75vw;
    margin: 3rem;
  }
  .main .project-container .project-title h2 {
    text-align: left;
    padding: 1rem 0;
  }
  .main .project-container .project-title p {
    width: 50%;
    height: 0.6rem;
    background-color: #000;
  }
  .main .project-container h3 {
    width: 75vw;
    text-align: center;
    margin-bottom: 3rem;
  }
  .main .project-container button {
    font-family: "Raleway", sans-serif;
    font-size: large;
    color: #FFFFFF;
    width: 10rem;
    height: 3rem;
    padding: 0.75rem;
    margin-bottom: 2rem;
    border: none;
    background-color: #292933;
  }
  .main .project-text {
    width: 65vw;
    border-top: 2.5rem solid #292933;
    border-bottom: 2.5rem solid #292933;
    background-color: #D2AE5F;
    padding: 1.5rem;
  }
  .main .project-text img {
    width: 100%;
    margin: 2rem 0;
  }
  .main .project-text p {
    font-weight: 600;
    line-height: 1.7rem;
    margin-bottom: 2rem;
  }
  .main .project-showcase {
    width: 90vw;
  }
  .main .project-showcase img {
    width: 100%;
  }
  .main .creative-container {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #292933;
  }
  .main .creative-container .creative-section-1 {
    width: 75vw;
    margin: 4em;
  }
  .main .creative-container .creative-section-1 .creative-img-container-1 img {
    width: 100%;
  }
  .main .creative-container .creative-section-1 p {
    color: #FFFFFF;
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 2rem 0;
  }
  .main .creative-container .creative-section-2 {
    width: 75vw;
    margin-top: 4rem;
  }
  .main .creative-container .creative-section-2 h2 {
    color: #D2AE5F;
    font-size: 4.5rem;
    margin: 1rem 0;
  }
  .main .creative-container .creative-section-2 .creative-img-container-2 {
    overflow: hidden;
  }
  .main .creative-container .creative-section-2 .creative-img-container-2 img {
    width: 100%;
    height: 48vh;
    -webkit-transform: scale(1.1) rotate(-13deg);
            transform: scale(1.1) rotate(-13deg);
  }
  .main .banner-container {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F5F5F7;
  }
  .main .banner-container .banner {
    width: 75vw;
    background-color: #FFFFFF;
    margin: 4rem 0;
  }
  .main .banner-container .banner .banner-img-container {
    padding: 4rem 0;
    background-color: #D2AE5F;
    border-top: 2.5rem solid #292933;
    border-bottom: 2.5rem solid #292933;
  }
  .main .banner-container .banner .banner-img-container img {
    width: 100%;
  }
  .main .banner-container .banner h2 {
    margin: 1rem 0;
    padding: 1rem;
  }
  .main .banner-container .banner .banner-list-container {
    padding: 1rem 1rem 3rem 1rem;
  }
  .main .banner-container .banner .banner-list-container p {
    line-height: 2rem;
  }
  .main .brand-container {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #292933;
    padding: 3rem 0;
  }
  .main .brand-container .brand {
    width: 75vw;
  }
  .main .brand-container .brand h2 {
    color: #FFFFFF;
    padding: 2rem 0;
  }
  .main .brand-container .brand .brand-img-container {
    width: 100%;
    overflow: hidden;
  }
  .main .brand-container .brand .brand-img-container img {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    width: 100%;
    position: relative;
    bottom: -5px;
  }
  .main .brand-container .brand .brand-text {
    background-color: #D2AE5F;
    margin: 0;
    padding: 2rem;
  }
  .main .brand-container .brand .brand-text p {
    color: #FFFFFF;
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin: 1rem 0;
  }
  .main .brand-container .brand .tiles-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .brand-container .brand .tiles-container .tile {
    width: 75vw;
    height: 26rem;
    background-color: #FFFFFF;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .brand-container .brand .tiles-container .tile img {
    width: 100%;
  }
  .main .brand-container .brand .tiles-container .tile:nth-child(2) img {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  .main .services-container {
    width: 100vw;
    background-color: #292933;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main .services-container .services-layer {
    width: 75vw;
    padding: 4rem;
  }
  .main .services-container .services-layer h2 {
    margin: 3rem;
  }
  .main .services-container .services-layer .services-lists h2 {
    color: #D2AE5F;
    font-size: 1.5rem;
  }
  .main .services-container .services-layer .services-lists p {
    line-height: 3rem;
  }
  .main .footer {
    width: 100%;
    background: #333;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .footer span {
    font-size: 0.8rem;
    margin: 0 0.3rem;
  }
  .main .footer a {
    color: #cfcfcf;
  }
  .main .footer .footer-layer {
    height: 15vh;
    display: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .footer .footer-layer .footer-text {
    width: 75vw;
    display: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .footer .footer-layer .footer-author {
    display: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */