@media (max-width: 768px) {
    // HEADER ~
    .header {
        width: 100vw;
        height: 85vh;
        background: url("../img/dbfa24d7-2e60-498c-03ce-2ae7b3d1c988.jpg") top left no-repeat;
        display: flex;
        justify-content: flex-end;
        .header-overlay {
            width: 70vw;
            background-color: #292933;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .header-text-container {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                margin-right: 4rem;
                img {
                    width: 8rem;
                }
                h1 {
                    color: #fff;
                    margin: 0.5rem 0;
                }
                p {
                    color: #6B6A78;
                    line-height: 1.8rem;
                    text-align: end;
                    margin: 0.4rem 0 0 8rem;
                }
            }
        }
    }


    // MAIN ~
    .main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;


        // HERO ~
        .hero-container {
            width: 100vw;
            padding-bottom: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .hero-text {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 5rem 1rem;
                width: 75vw;
                h2 {
                    text-align: left;
                    margin-bottom: 1.2rem;
                }
                p {
                    font-family: "Raleway", sans-serif;
                    text-align: left;
                    line-height: 1.6rem;
                    margin-right: 2rem;
                }
            }
            .hero-img-container { 
                width: 75vw;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                border-top: 2.5rem solid #292933;
                border-bottom: 2.5rem solid #292933;
                overflow: hidden;
                img {
                    width: 100%;
                    margin: 2rem;
                    transform: scale(1.3);
                }
            }
        }


        // PROJECT CONTAINER
        .project-container {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: #F5F5F7;
            .project-title {
                width: 75vw;
                margin: 3rem;
                h2 {
                    text-align: left;
                    padding: 1rem 0;
                }
                p {
                    width: 30%;
                    height: 0.6rem;
                    background-color: #000;
                }
            }
            h3 {
                width: 75vw;
                text-align: center;
                margin-bottom: 3rem;
            }
            button {
                font-family: "Raleway", sans-serif;
                font-size: large;
                color: #fff;
                width: 10rem;
                height: 3rem;
                padding: 0.75rem;
                margin-bottom: 2rem;
                border: none;
                background: #424251;
            }
        }
        // PROJECT TEXT
        .project-text {
            width: 55vw;
            border-top: 2.5rem solid #292933;
            border-bottom: 2.5rem solid #292933;
            background-color: #D2AE5F;
            padding: 1.5rem;
            img {
                width: 100%;
                margin: 2rem 0;
            }
            p {
                font-weight: 600;
                line-height: 1.7rem;
                margin-bottom: 2rem;
            }
        }
        // PROJECT SHOWCASE
        .project-showcase {
            width: 75vw;
            img {
                width: 100%;
            }
        }


        // CREATIVE CONTAINER
        .creative-container {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #292933;
            .creative-section-1 {
                width: 75vw;
                margin: 4em;
                .creative-img-container-1 {
                    img {
                        width: 100%;
                    }
                }
                p {
                    color: #fff;
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                    margin: 2rem 0;
                }
            }
            .creative-section-2 {
                width: 75vw;
                margin-top: 4rem;
                h2 {
                    color: #D2AE5F;
                    font-size: 4.5rem;
                    margin: 1rem 0;
                }
                .creative-img-container-2 {
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 48vh;
                        transform: scale(1.1) rotate(-13deg);
                    }
                }
            }
        }


        // BANNER CONTAINER
        .banner-container {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: #F5F5F7;
            .banner {
                width: 75vw;
                background-color: #fff;
                margin: 4rem 0;
                .banner-img-container {
                    padding: 4rem 0;
                    background-color: #D2AE5F;
                    border-top: 2.5rem solid #292933;
                    border-bottom: 2.5rem solid #292933;
                    img {
                        width: 100%;
                    }
                }
                h2 {
                    margin: 1rem 0;
                    padding: 1rem;
                }
                .banner-list-container {
                    padding: 1rem 1rem 3rem 1rem;
                    p {
                        line-height: 2rem;
                    }
                }
            }
        }


        // BRAND CONTAINER
        .brand-container {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-self: flex-start;
            align-items: center;
            background-color: #292933;
            padding: 3rem 0;
            .brand {
                width: 75vw;
                h2 {
                    color: #fff;
                    padding: 2rem 0;
                }
                .brand-img-container {
                    width: 100%;
                    overflow: hidden;
                    img {
                        transform: rotate(15deg);
                        width: 100%;
                        position: relative;
                        bottom: -5px;
                    }
                }
                .brand-text {
                    background-color: #D2AE5F;
                    margin: 0;
                    padding: 2rem;
                    p {
                        color: #fff;
                        font-size: 1.4rem;
                        line-height: 2.5rem;
                        margin: 1rem 0;
                    }
                }
                .tiles-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    .tile {
                        width: 75vw;
                        height: 26rem;
                        background-color: #fff;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 100%;
                        }
                    }
                    .tile:nth-child(2) {
                        img {
                            transform: scale(1.7);
                        }
                    }
                }
            }
        }


        // SERVICES CONTAINER
        .services-container {
            width: 100vw;
            background-color: #292933;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .services-layer {
                width: 75vw;
                padding: 4rem;
                h2 {
                    margin: 3rem;
                }
                .services-lists {
                    h2 {
                        color: #D2AE5F;
                        font-size: 1.5rem;
                    }
                    p {
                        line-height: 3rem;
                    }
                }
            }
        }


        // FOOTER CONTAINER
        .footer {
            width: 100%;
            background: #333;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-size: 0.8rem;
                margin: 0 0.3rem;
            }
            a {
                color: #cfcfcf;
            }
            .footer-layer {
                height: 15vh;
                display: inherit;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .footer-text {
                    width: 75vw;
                    display: inherit;
                    justify-content: center;
                    align-items: center;
                }
                .footer-author {
                    display: inherit;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}