body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6, body p,
body ul, body li, body a, body div, body section, body img {
  margin: 0;
  padding: 0;
}

body h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
}

body h2, body h3, body h4, body h5, body h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2.2rem;
}

body p {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
}

@media (max-width: 480px) {
  .header {
    width: 100vw;
    height: 85vh;
    background: url("./img/dbfa24d7-2e60-498c-03ce-2ae7b3d1c988.jpg") center no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .header-overlay {
    width: 85vw;
    background-color: #292933;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-overlay .header-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 4rem;
  }
  .header .header-overlay .header-text-container img {
    width: 5.5rem;
  }
  .header .header-overlay .header-text-container h1 {
    color: #fff;
    margin: 0.5rem 0;
  }
  .header .header-overlay .header-text-container p {
    color: #6B6A78;
    line-height: 1.8rem;
    text-align: end;
    margin: 0.4rem 0 0 8rem;
  }
  .main {
    width: 100vw;
    height: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .hero-container {
    width: 100vw;
    padding-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .hero-container .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 5rem 1rem;
    width: 75vw;
  }
  .main .hero-container .hero-text h2 {
    text-align: left;
    margin-bottom: 1.2rem;
  }
  .main .hero-container .hero-text p {
    font-family: "Raleway", sans-serif;
    text-align: left;
    line-height: 1.6rem;
    margin-right: 2rem;
  }
  .main .hero-container .hero-img-container {
    width: 75vw;
    height: 65vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
    background-color: #292933;
    overflow: hidden;
  }
  .main .hero-container .hero-img-container img {
    width: 100%;
    margin: 2rem;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .main .project-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F5F5F7;
  }
  .main .project-container .project-title {
    width: 75vw;
    margin: 3rem;
  }
  .main .project-container .project-title h2 {
    text-align: left;
    padding: 1rem 0;
  }
  .main .project-container .project-title p {
    width: 50%;
    height: 0.6rem;
    background-color: #000;
  }
  .main .project-text {
    width: 65vw;
    height: 65vh;
    background-color: #D2AE5F;
    padding: 1.5rem;
  }
  .main .project-text img {
    width: 100%;
    margin: 2rem 0;
  }
  .main .project-text p {
    font-weight: 600;
    line-height: 1.7rem;
  }
  .main .project-showcase {
    width: 90vw;
  }
  .main .project-showcase img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */