// RESET
body {
    width: 100%;
    padding: 0;
    margin: 0;
    h1, h2, h3, h4, h5, h6, p,
    ul, li, a, div, section, img {
        margin: 0;
        padding: 0;
    }
    h1 {
        font-family: "Titillium Web", sans-serif;
        font-weight: 100;
    }
    h2, h3, h4, h5, h6 {
        font-family: "Montserrat", sans-serif;
        font-weight: 100;
        font-size: 2.2rem;
    }
    p {
        font-family: "Raleway", sans-serif;
        font-size: 1.1rem;
    }
}


@media (max-width: 480px) {

    // HEADER ~
    .header {
        width: 100vw;
        height: 85vh;
        background: url("./img/dbfa24d7-2e60-498c-03ce-2ae7b3d1c988.jpg") center no-repeat;
        display: flex;
        justify-content: flex-end;
        .header-overlay {
            width: 85vw;
            background-color: #292933;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .header-text-container {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                margin-right: 4rem;
                img {
                    width: 5.5rem;
                }
                h1 {
                    color: #fff;
                    margin: 0.5rem 0;
                }
                p {
                    color: #6B6A78;
                    line-height: 1.8rem;
                    text-align: end;
                    margin: 0.4rem 0 0 8rem;
                }
            }
        }
    }



    // MAIN ~
    .main {
        width: 100vw;
        height: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        // HERO ~
        .hero-container {
            width: 100vw;
            padding-bottom: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .hero-text {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 5rem 1rem;
                width: 75vw;
                h2 {
                    text-align: left;
                    margin-bottom: 1.2rem;
                }
                p {
                    font-family: "Raleway", sans-serif;
                    text-align: left;
                    line-height: 1.6rem;
                    margin-right: 2rem;
                }
            }
            .hero-img-container {
                width: 75vw;
                height: 65vh;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                background-color: #292933;
                overflow: hidden;
                img {
                    width: 100%;
                    margin: 2rem;
                    transform: scale(1.3);
                }
            }
        }

        // PROJECT CONTAINER
        .project-container {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: #F5F5F7;
            .project-title {
                width: 75vw;
                margin: 3rem;
                h2 {
                    text-align: left;
                    padding: 1rem 0;
                }
                p {
                    width: 50%;
                    height: 0.6rem;
                    background-color: #000;
                }
            }
            h3 {
                width: 75vw;
                text-align: center;
                margin-bottom: 3rem;
            }
            button {
                font-family: "Raleway", sans-serif;
                font-size: large;
                color: #fff;
                width: 10rem;
                height: 3rem;
                padding: 0.75rem;
                margin-bottom: 2rem;
                border: none;
                background: #424251;
            }
        }
        // PROJECT TEXT
        .project-text {
            width: 65vw;
            height: 60vh;
            background-color: #D2AE5F;
            padding: 1.5rem;
            img {
                width: 100%;
                margin: 2rem 0;
            }
            p {
                font-weight: 600;
                line-height: 1.7rem;
                margin-bottom: 2rem;
            }
        }
        // PROJECT SHOWCASE
        .project-showcase {
            width: 90vw;
            img {
                width: 100%;
            }
        }
    }
}





@media (max-width: 768px) {

}

@media (max-width: 1200px) {

}