// RESET
body {
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1, h2, h3, h4, h5, h6, p,
    ul, li, a, div, section, img {
        margin: 0;
        padding: 0;
    }
    h1 {
        font-family: "Titillium Web", sans-serif;
        font-weight: 100;
    }
    h2, h3, h4, h5, h6 {
        font-family: "Montserrat", sans-serif;
        font-weight: 100;
        font-size: 2.2rem;
    }
    p, span, a, button {
        font-family: "Raleway", sans-serif;
        font-size: 1.1rem;
    }
}
html {
    width: 100vw;
    margin: 0;
    padding: 0;
}